@import './variables';

@import '~bootstrap/scss/bootstrap';

@font-face {
    font-family: 'Cairo';
    src: url('~assets/cairo.woff2');
}

*:not(.fas):not(.fab) {
    font-family: 'Cairo', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif,
        sans-serif, Arial;
}

body,
.navbar a {
    color: #fff;
}

$breakpoints: (
    'sm': 576px,
    'md': 768px,
    'lg': 992px,
    'xl': 1200px,
) !default;
// @import "./iclude_media.scss";

#canvas {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    // min-height: 100%;
}
#navbar-top {
    z-index: 9;
}
.masthead {
    position: relative;
    width: 100%;
    height: auto;
    z-index: 2;
    // .container {
    //     padding-top: 15em;
    // }
    @media (min-width: 768px) {
        h1 {
            font-size: 3.5rem;
        }
    }
}
.blink {
    animation-name: blink;
    animation-duration: 0.7s;
    animation-iteration-count: infinite;
}
@keyframes blink {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.trans {
    transition: all ease-in 0.5s;
}
.pointer:hover {
    cursor: pointer;
}

input[type='email']:focus,
input[type='password']:focus {
    // text-align: left;
    direction: ltr;
}

.wyg:hover i {
    animation: fa-spin 2s infinite linear;
}

// page transition
.page-enter-active,
.page-leave-active {
    transition: opacity 0.5s;
}
.page-enter,
.page-leave-to {
    opacity: 0;
}
